.Evento {
  align-items: center;
  border-bottom: 1px solid #bbbdc750;
  display: grid;
  gap: 5px;
  grid-template-columns: auto 1fr auto;
  padding: 5px 1rem;
  .descricao {
    text-decoration: none;
  }
  i {
    cursor: pointer;
  }
  &.completo {
    background: #b7ddf33d;
    .descricao {
      text-decoration: line-through;
    }
  }
}