
.Formulario {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: calc(40vh - 20px);
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;

  .input {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0.375em;
    color: #363636;
    font-size: 1rem;
    justify-content: flex-start;
    height: 15%;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
  }

  .inputContainer {
    column-gap: 1rem; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    height: 15%;
    .input {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 0.375em;
      color: #363636;
      font-size: 1rem;
      justify-content: flex-start;
      height: 100%;
      padding: calc(0.5em - 1px) calc(0.75em - 1px);
    }
  }
  .titulo {
    margin-top: 0;
  }
  .botao {
    background: #95bae8;
    border: 1px solid #e4bbff8f;
    border-radius: 2rem;
    font-size: 1rem;
    height: 15%;
  }
  .botao:hover {
    background: #e4bbff8f;
    border-color: #95bae8;
    cursor: pointer;
  }
}